<ion-view view-title="Setings" hide-nav-bar="true" can-swipe-back="false">
    <ion-content class="padding" scroll="false">
        <div class="container text-center" id="container">
            <div class="row">
                <img src="images/logo.png" class="logo" alt="logo">
            </div>
            <div class="container text-center">
                <div class="row back" id="back">
                    <a class="backButtton" ng-click="back()"></a>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
